<div class="cat">
    <div class="cat__add">
      <form class="cat-form">
        <div class="cat-form__cats-name"> {{ form }} </div>
{#        <div class="cat-form__cats-name"> {{ form.cat-name }} </div>#}
{#        <div class="cat-form__submit"> {{ form.submit }} </div>#}
      </form>
    </div>
</div>
